.logo {
    width: 300px;
}

.image {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.tabs {
    margin-left: auto;
}

.tabs ul li {
    display: inline-block;
    margin: 20px;
}

.tabs a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fefefe;
    font-size: 15px;
}

.menu {
    margin-left: auto;
    background-color: transparent;
    color: white;
    border: none;
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.menu svg {
    width: 100%;
    height: 100%;
    display: block;
}

.responsive-tab{
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #6a6a6a;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    transition: 0.5s;
    z-index: 999999;
}

.responsive-tab ul li{
    list-style: none;
    padding: 15px;
}

.responsive-tab ul li a{
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
}

.close {
    right: -300px;
}

.open{
    right: 0;
}

.active::after{
    content: "";
    width: 20px;
    height: 2px;
    display: inline-block;
    position: absolute;
    background-color: var(---primary);
    left: -1px;
    bottom: -5px;
}

.nonhome li a{
    position: relative;
    color: black !important;
}

.active-nonhome{
    color: black;
}