.featured-book {
  background-color: var(--section-bg);
}

.featured-container {
  display: flex;
  width: 100%;
  margin: auto;
  max-width: var(--container-mx-width);
  position: relative;
  z-index: 10;
  margin-top: 220px;
  padding: 0px 20px;
  column-gap: 60px;
}

.book {
  margin-left: -40px;
  width: 50%;
}

.book img{
  max-width: 800px;
}

.featured-book h3 {
  color: var(---primary);
  text-transform: uppercase;
}

.featured-book h1 {
  font-size: 70px;
  margin-top: 20px;
  color: #717171;
}

.featured-book h1::after {
  content: "";
  height: 3px;
  width: 60px;
  background-color: var(---primary);
  display: block;
  margin-top: 12px;
}

.featured-container p{
  padding: 40px 0px;
  font-size: 20px;
  line-height: 40px
}

.about-author {
  width: 50%;
  margin-left: -50px;
  padding-top: 60px;
}


.about-author p {
  padding: 40px 20px;
  font-size: 22px;
  line-height: 40px
}

.about-author .book-action {
  display: flex;
  padding: 0px 20px;
}

.book-action a {
  width: 230px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  text-align: center;
  background-color: var(---primary);
  color: white;
  padding: 15px 50px;
  font-weight: bold;
  border-radius: 3px;
  font-size: 18px;
  display: inline-block;
}

.book-intro {
  width: 100%;
  margin-left: unset;
  padding-top: 60px;
}

.book-intro .book-action a:last-child {
  background: none !important;
  color: var(---primary) !important;
}

.about-author {
  display: flex;
  width: 100%;
  margin: auto;
  max-width: 1150px;
  position: relative;
  z-index: 10;
  margin-top: 50px;
  padding: 20px;
}

.author-descrip {
  width: 60%;
}

.about-author h3 {
  color: var(---secondary);
}

.about-author h1 {
  font-size: 50px;
  text-transform: uppercase;
  color: var(---secondary);
}

.about-author h1::after {
  content: "";
  height: 3px;
  width: 60px;
  background-color: var(---primary);
  display: block;
  margin-top: 12px;
}

.about-author span {
  color: var(---primary) !important;
}

.about-author p {
  padding: 40px 0px;
  font-size: 20px;
  line-height: 40px
}

.author-image {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.author-image img {
  box-shadow: 19px 17px 1px #99E697;
}

.list {
  background-color: var(--section-bg);
}

.list-container {
  display: flex;
  width: 100%;
  margin: auto;
  max-width: var(--container-mx-width);
  position: relative;
  z-index: 10;
  padding: 0px 20px;
  column-gap: 50px;
}

.books {
  width: 55%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.books-intro {
  width: 45%;
  display: flex;
  align-items: center;
}

.books-intro h1 {
  font-size: 50px;
  text-transform: uppercase;
  color: var(---secondary);
}

.books-intro h1::after {
  content: "";
  height: 3px;
  width: 60px;
  background-color: var(---primary);
  display: block;
  margin-top: 12px;
}

.books-intro p {
  padding: 40px 0px;
  font-size: 20px;
  line-height: 40px
}

.books-intro a {
  width: 230px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  text-align: center;
  background-color: var(---primary);
  color: white;
  padding: 15px 50px;
  font-weight: bold;
  border-radius: 3px;
  font-size: 18px;
  display: inline-block;
}

.reviews {
  width: 100%;
  margin: auto;
  max-width: var(--container-mx-width);
  position: relative;
  z-index: 10;
  padding: 50px 20px;
  text-align: center;
}

.reviews h3 {
  color: var(---primary);
}

.reviews h1 {
  font-size: 40px;
  color: var(---secondary);
  position: relative;
}

.reviews-container {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.reviews-container section p{
  padding: 40px 0px;
  font-size: 16;
  line-height: 35px;
}

.reviews-container section h3{
  margin-bottom: 35px;
  margin-top: -25px;
  font-size: 13px;
  text-transform: uppercase;
}

@media only screen and (max-width: 1030px) {
    .featured-container{
      display: block;
      margin-top: 150px;
    }

    .featured-book h1{
      font-size: 55px;
    }

    .book {
      margin-left: unset;
      width: 100%;
    }
    
    .book img{
      width: 100%;
      object-fit: cover;
    }
    
    .book-intro {
      width: 100%;
      margin-left: unset;
      padding-top: 20px;
      padding-bottom: 50px;
    }

    .book-action{
      margin-top: 30px;
    }

    .book-action a {
      width: 100%;
    }
    
    .about-author {
      display: block;
    }
    
    .author-descrip {
      width: 100%;
    }

    .list-container {
      display: block;
    }
    
    .books {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    
    .books-intro {
      width: 100%;
      display: flex;
      align-items: center;
    }

    .author-image {
      width: 100%;
      display: block;
      margin-top: 20px;
    }

    .author-image img {
      width: calc(100% - 20px);
    }

    .list-container{
      display: block;
    }

    .books {
      width: 100%;
      display: block;
    }

    .books img{
      width: 100%;
    }
    
    .books-intro {
      width: 100%;
      padding-bottom: 50px;
    }
  
    .books-intro h1{
      margin-top: 30px;
    }

    .books-intro a {
      width: 100%;
    }
}